process {
    // Default container for all processes
    //container = params.container
    
    // Resource allocation
    cpus = 2
    memory = '4 GB'
    
    // Error handling
    errorStrategy = 'retry'
    maxRetries = 2
}

// Docker configuration
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
    }
}

includeConfig 'conf/omics.config'
