params {
    ecr_registry = '664263524008.dkr.ecr.ap-northeast-2.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
    withName: '.*' { conda = null }
    withName: '.*' { container = 'causal-inference:latest' }
} 
